body {
   
    margin: 0;
    font-family: 'helvetica', sans-serif;
    font-size: 1.5em;
    background-color: black;
    padding:0;
    
  }
  
.leftColumn {
    width:50%;
    height: 500px;
    float:left;
        
  }
  
.rightColumn{
    width:50%;
    height:850px;
    float:right;
    background:url("adam.png");
    background-color: black;
  }
  
.footer {
    clear:left;
    margin-bottom:0;
    width:100%;
    height: 200px;
    
    
  }

div{
    color: white;
    display: flex;
    flex-direction:column;
    padding-left: 100px;
    padding-top:100px;

  }

ul {
    display:flex;
    flex-direction:row;
    position: absolute;
    top:80%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

ul li{
    list-style: none;
  }

ul li a{
    width:100px;
    height: 100px;
    background: black;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
    border: 3px solid #fff;

  }

ul li a .fa{
    position: relative;
    color:white;
    transition: .5s;
  }

  
ul li a:hover .fa{

    transform: rotateY(360deg);

  }

ul li a:before{

    content: '';
    position:absolute;
    top: 100;
    left:0;
    width:100%;
    height:100%;
    transition: .5s;

  }




   
 